@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: var(--Roboto-font);
}

body {
  background-color: var(--bgsection);
  color: var(--whitecolor);
}

:root {
  --primarycolor: #ff00e1;
  --secondarycolor: #f8be00;
  --bgsection: #212227;
  --whitecolor: #fff;
  --blackcolor: #000;
  --nav-box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);

  --theme-color1-light: #fff6ca;
  --theme-color1-dark: #fceda1;
  --theme-color2-light: #dofcba;
  --theme-color2-dark: #b3ff8d;
  --theme-color3-light: #b2eefd;
  --theme-color3-dark: #88e7ff;
  --theme-color4-light: #e4bce5;
  --theme-color4-dark: #fd9aff;
  --theme-color5-light: #ffb3b3;
  --theme-color5-dark: #ff7e7e;

  --Bricolage-font: "Bricolage Grotesque", sans-serif;
  --Roboto-font: "Roboto", sans-serif;
  --Jost-font: "Jost", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.light-mode {
  --bgsection: #f4f4f4;
  --whitecolor: #000;
  --blackcolor: #111;
  --nav-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem;
  box-shadow: var(--nav-box-shadow);
}

.logo h1 {
  font-family: var(--Bricolage-font);
}

.logo span {
  font-family: var(--Bricolage-font);
  color: var(--secondarycolor);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-buttons button {
  background-color: var(--theme-color1-light);
  width: 9.375rem;
  height: 2.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--Bricolage-font);
  border: none;
  transition: var(--transition-regular);
}

.nav-buttons button:hover {
  background-color: var(--theme-color1-dark);
  cursor: pointer;
}

.toggle-switch {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 1.875rem;
}

.switch-label .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondarycolor);
  transition: var(--transition-regular);
  border-radius: 2.125rem;
}

.slider::before {
  content: "";
  position: absolute;
  width: 1.375rem;
  height: 1.375rem;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--blackcolor);
  transition: transform var(--transition-regular);
}

.checkbox:checked + .slider {
  background-color: var(--theme-color1-dark);
}

.checkbox:checked + .slider::before {
  transform: translate(1.5rem, -50%);
}

