@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: var(--Roboto-font);
}

body{
  background-color: var(--bgsection);
  color: var(--whitecolor);
}

:root{
  --primarycolor: #ff00e1;
  --secondarycolor: #f8be00;
  --bgsection: #212227;
  --whitecolor: #fff;
  --blackcolor: #000;
  --nav-box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);


  --theme-color1-light: #fff6ca;
  --theme-color1-dark: #fceda1;
  --theme-color2-light: #dofcba;
  --theme-color2-dark: #b3ff8d;
  --theme-color3-light: #b2eefd;
  --theme-color3-dark: #88e7ff;
  --theme-color4-light: #e4bce5;
  --theme-color4-dark: #fd9aff;
  --theme-color5-light: #ffb3b3;
  --theme-color5-dark: #ff7e7e;
  
  --Bricolage-font: "Bricolage Grotesque", sans-serif;
  --Roboto-font:  "Roboto", sans-serif;
  --Jost-font: "Jost", sans-serif;

  --transition-regular: .3s;
  --transition-slow: .6s;
}